body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    margin: 0;
}

#square-container {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
}

.square-box {
    background-color: #f5f5dc;
    border: 1px solid black;
    box-sizing: border-box;
}